@use "src/styles/vars";

.image {
  height: 90%;
  width: 90%;
  color: black;
}
.main {
  height: 100vh;
  background-color: #dadce6;
  display: flex;
    &--scroll {
        background-color: red;
    }
    &__left {
        width: 40%;
        height: 100%;
        border-right: 1px solid black;
        background-image: url("../../assets/img/mac.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__right {
        width: 60%;
        height: 90vh;
        padding-top: 10vh;
    }
}
.profil {
  width: 100%;
  padding-top: 10vh;
  &__picture {
    border-radius: 50%;
    width: 30%;
    margin: 10px auto 0px auto;
  }
  &__text {
    width: 60%;
    text-align: center;
    margin: 10px auto;
  }
  &__title {
    font-size: max(50px, 5vw);
    font-family: rotonto;
    &__span {
      color: vars.$mainColor;
      text-shadow: 0 0 10px white;
      animation: blur 1.5s infinite;
    }
  }
  &__container {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__item {
    width: 40%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__div {
    height: max(40px, 4vw);
    width: max(40px, 4vw);
    border-radius: 50%;
    border: 1px solid;
    border-color: #233439;
    background-color: white;
    vertical-align: middle;
    margin: 0 auto;
    display: flex;
    align-items: center;
    transition: 0.4s ease-out;
    &:hover {
      background-color: #233439;
    }
    &:hover .profil__icon {
      transform: rotateY(360deg);
      color: white;
  }
  }
  &__name {
    width: 50%;
    text-align: left;
  }
}

i {
  color: #233439;
  margin: 0 auto;
  vertical-align: middle;
  font-size: 2.5rem;
  transition: 0.4s ease-out;
}

@keyframes changeColor {
  to {
    background-color: vars.$mainColor;
  }
}

.tdimension {
  width: 250px;
  height: 250px;
  margin: 10px auto 10px auto;
  perspective: 1000px;
}
.tdimension .picture {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/portrait.jpeg");
  background-size: cover;
  transform-style: preserve-3d;
  transform: rotateX(70deg);
  transition: all 0.8s;
}

.tdimension--scroll .picture {
  transform: rotateX(5deg);
}
.tdimension .picture:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  transform: rotateX(90deg);
  transform-origin: bottom;
}

@media screen and (max-width: 769px) {
  .main {
    &__left {
      display: none;
    }
    &__right {
      width: 100%;
    }
  }
  .profil {
    &__container {
      justify-content: flex-start;
    }
    &__text {
      width: 90%;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
  .main__table tr {
    height: 5vw;
  }
  .main__table--div {
    height: 3vw;
    width: 3vw;
  }
  .table-icon {
    font-size: 2vw;
  }
}

@media screen and (max-width: 1400px) { 
  i {
    font-size: 1.9rem;
  }
}

@media screen and (min-width: 2100px) { 
  i {
    font-size: 3rem;
  }
}
